
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #ffd6e7 0%,
        #ffcce3 50%,
        #ffe6f2 100%
    );
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    z-index: 10;

    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(8px);

    padding: 30px;
    border-radius: 35px;

    width: fit-content;
    max-width: 90vw;

    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

}

h1 {
    color: white;
    font-size: 4rem;
    margin: 0 0 20px;

    text-shadow:
        0 0 10px rgba(255,255,255,0.6),
        0 4px 10px rgba(0,0,0,0.15);
}

.video-container {
    padding: 0;
    background: transparent;
    box-shadow: none;
}
.video-container video {
    width: 700px;
    max-width: 85vw;

    display: block;

    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Stars */

.star {
    position: absolute;
    color: #8ed6ff;
    font-size: 75px;
    opacity: 0.8;
    animation: float 4s ease-in-out infinite;
    pointer-events: none;
}

.star1 {
    top: 8%;
    left: 10%;
    transform: rotate(-18deg);
}

.star2 {
    top: 15%;
    right: 12%;
    transform: rotate(14deg);
}

.star3 {
    top: 45%;
    left: 6%;
    transform: rotate(-25deg);
}

.star4 {
    top: 55%;
    right: 8%;
    transform: rotate(20deg);
}

.star5 {
    bottom: 15%;
    left: 18%;
    transform: rotate(-12deg);
}

.star6 {
    bottom: 10%;
    right: 20%;
    transform: rotate(26deg);
}

@keyframes float {
    0%, 100% {
        translate: 0 0;
    }

    50% {
        translate: 0 -10px;
    }
}